@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categorias";
}
<div class="container my-5">
    <h1>Categorias</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CategoryId">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.CategoryId">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.CategoryId">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        <a asp-action="Create" class="btn btn-primary">Criar Nova Categoria</a>
    </p>
</div>